
		<!-- 앞쪽 -->
            <div class="inner borderStyleAll borderStyle1 page1" id="div_page"  style="width:705pt;padding-left:40pt;min-height:0pt;">
                <table class="__se_tbl" id="table_1" style="margin: 1pt; border: currentColor; width: 704.58pt; height: 432.09pt; border-collapse: collapse;" cellspacing="0" summary="table">
                    <tr>
                        <td style="border-width: 1.5pt 1.5pt 1.99pt; border-color: rgb(93, 93, 93); width: 724.58pt; height: 13.63pt; vertical-align: top;" colspan="31">
                            <p>
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">■ 고용보험법 시행규칙</span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">[</span>
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">별지 제</span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">6</span>
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">호서식</span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">] </span>
                                <span style="border: 1pt; color: rgb(0, 0, 255); letter-spacing: -0.37pt; font-size: 8pt;">&lt;</span>
                                <span style="border: 1pt; color: rgb(0, 0, 255); letter-spacing: -0.56pt; font-size: 8pt;">개정 </span>
                                <span style="border: 1pt; color: rgb(0, 0, 255); letter-spacing: -0.37pt; font-size: 8pt;">2013.12.30&gt;</span>
                            </p>
                        </td>
                    </tr>
                    
					<!-- 서식명 -->
                    <tr ng-if="docObj.hasREPF == false">
                        <td style="border-width: 1.5pt 1.5pt 1pt; border-color:; width: 371.9pt; height: 20.25pt; vertical-align: top;" colspan="15">
                            <p style="border: 1pt; line-height: 1; text-indent: -5pt; font-size: 16pt; margin-left: 20pt;">
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">국민연금 </span>
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">[v] </span>
                                <span style="border: 1pt; font-size: 16pt; letter-spacing: -0.5pt; font-weight: bold;">사업장가입자 자격상실신고서 </span>
                            </p>
                        </td>
                        <td style="border-width: 1.5pt 1pt 1pt 1.5pt; border-color:; width: 355.83pt; height: 20.25pt; vertical-align: top;" colspan="15">
                            <p style="border: 1pt; line-height: 1; text-indent: -5pt; font-size: 16pt; margin-left: 5pt;">
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">건강보험 </span>
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">[v] </span>
                                <span style="border: 1pt; font-size: 16pt; letter-spacing: -0.5pt; font-weight: bold;">직장가입자 자격상실신고서</span>
                            </p>
                        </td>
                    </tr>
                    
                     <tr ng-if="docObj.hasREPF == true">
                        <td style="border-width: 1.5pt 1.5pt 1pt; border-color:; width: 371.9pt; height: 20.25pt; vertical-align: top;" colspan="15">
                            <p style="border: 1pt; line-height: 1; text-indent: -5pt; font-size: 16pt; margin-left: 20pt;">
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">국민연금 </span>
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">[  ] </span>
                                <span style="border: 1pt; font-size: 16pt; letter-spacing: -0.5pt; font-weight: bold;">사업장가입자 자격상실신고서 </span>
                            </p>
                        </td>
                        <td style="border-width: 1.5pt 1pt 1pt 1.5pt; border-color:; width: 355.83pt; height: 20.25pt; vertical-align: top;" colspan="15">
                            <p style="border: 1pt; line-height: 1; text-indent: -5pt; font-size: 16pt; margin-left: 5pt;">
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">건강보험 </span>
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">[  ] </span>
                                <span style="border: 1pt; font-size: 16pt; letter-spacing: -0.5pt; font-weight: bold;">직장가입자 자격상실신고서</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-width: 1pt 1.5pt; border-color:; width: 371.9pt; height: 20.25pt; vertical-align: top;" colspan="15">
                            <p style="border: 1pt; line-height: 1; text-indent: -5pt; font-size: 16pt; margin-left: 20pt;">
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">고용보험 </span>
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">[v] </span>
                                <span style="border: 1pt; font-size: 16pt; letter-spacing: -0.5pt; font-weight: bold;">피보험 자격상실신고서</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt 1pt 1pt 1.5pt; border-color:; width: 355.83pt; height: 20.25pt; vertical-align: top;" colspan="15">
                            <p style="border: 1pt; line-height: 1; text-indent: -5pt; font-size: 16pt; margin-left: 5pt;">
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">산재보험 </span>
                                <span style="border: 1pt; font-size: 16pt; font-weight: bold;">[v] </span>
                                <span style="border: 1pt; font-size: 16pt; letter-spacing: -0.5pt; font-weight: bold;">근로자 고용종료 신고서</span>
                            </p>
                        </td>
                    </tr>
                    

                    <tr>
                        <td style="border-width: 1pt 1pt 1.99pt 1.5pt; border-style: none none solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 549.51pt; height: 15.6pt; vertical-align: middle;" colspan="24">
                            <p style="line-height: 1; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">※ 유의사항 및 작성방법은 뒷면을 참고하여 주시기 바라며, 색상이 어두운 란은 신청인이 적지 않습니다.</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt 1.5pt 1.99pt 1pt; border-style: none none solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 175.07pt; height: 15.6pt; vertical-align: middle;" colspan="7">
                            <p style="text-align: right; line-height: 1; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">(</span>
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">앞 쪽</span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">)</span>
                            </p>
                        </td>
                    </tr>
					<!-- 접수번호 (입력없음) -->
                    <tr>
                        <td style="border-width: 1.99pt 1pt 1pt 1.5pt; border-style: solid none; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(93, 93, 93); width: 86.42pt; height: 14.24pt; vertical-align: middle; background-color: rgb(178, 178, 178);" colspan="2">
                            <p style="border: 1pt; text-align: left; line-height: 0.9; font-size: 9pt; margin-top: 1pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">접수번호</span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt 1pt; border-style: solid none; border-color: rgb(93, 93, 93); width: 84.48pt; height: 14.24pt; vertical-align: middle; background-color: rgb(178, 178, 178);" colspan="2">
                            <p style="border: 1pt; text-align: left; line-height: 0.9; font-size: 9pt; margin-top: 1pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;"></span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt 1pt; border-style: solid solid solid none; border-color: rgb(93, 93, 93); width: 88.3pt; height: 14.24pt; vertical-align: middle; background-color: rgb(178, 178, 178);" colspan="2">
                            <p style="border: 1pt; text-align: left; line-height: 0.9; font-size: 9pt; margin-top: 1pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;"></span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt 1pt; border-style: solid none solid solid; border-color: rgb(93, 93, 93); width: 86.42pt; height: 14.24pt; vertical-align: middle; background-color: rgb(178, 178, 178);" colspan="6">
                            <p style="border: 1pt; text-align: left; line-height: 0.9; font-size: 9pt; margin-top: 1pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">접수일자</span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt 1pt; border-style: solid none; border-color: rgb(93, 93, 93); width: 75.1pt; height: 14.24pt; vertical-align: middle; background-color: rgb(178, 178, 178);" colspan="4">
                            <p style="border: 1pt; text-align: left; line-height: 0.9; font-size: 9pt; margin-top: 1pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">{{today}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt 1pt; border-style: solid solid solid none; border-color: rgb(93, 93, 93); width: 72.29pt; height: 14.24pt; vertical-align: middle; background-color: rgb(178, 178, 178);" colspan="5">
                            <p style="border: 1pt; text-align: left; line-height: 0.9; font-size: 9pt; margin-top: 1pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;"></span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt 1pt; border-style: solid none solid solid; border-color: rgb(93, 93, 93); width: 155.86pt; height: 14.24pt; vertical-align: middle; background-color: rgb(178, 178, 178);" colspan="7">
                            <p style="border: 1pt; text-align: left; line-height: 1.3; font-size: 9pt; margin-top: 1pt; margin-right: 0pt; margin-left: 0pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">처리기간 3일 (고용보험은 7일)</span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1.5pt 1pt 1pt; border-style: solid none; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(93, 93, 93); width: 75.71pt; height: 1pt; vertical-align: top; background-color: rgb(178, 178, 178);" colspan="3">
                            <p style="border: 1pt; text-align: left; line-height: 1.3; margin-top: 1pt; margin-right: 0pt; margin-left: 0pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt;"></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-width: 1pt 1.5pt; border-style: solid none; border-color: rgb(93, 93, 93); width: 724.58pt; height: 2pt; vertical-align: middle;" colspan="31">
                            <p>
                                <span style="border: 1pt; letter-spacing: -0.14pt; font-size: 2pt;"></span>
                            </p>
                        </td>
                    </tr>
					<!-- 사업장 -->
                    <tr>
                        <td style="border-width: 1pt 1pt 1pt 1.5pt; border-style: solid solid solid none; border-color: rgb(93, 93, 93); width: 86.42pt; height: 32.47pt; vertical-align: middle;" rowspan="2" colspan="2">
                            <p style="text-align: center; line-height: 1.3;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">사업장</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(187, 187, 187); width: 220pt; height: 14.75pt; vertical-align: middle;" colspan="7">
                            <p style="line-height: 1.3; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">사업장관리번호</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt; margin-left: 20pt;">{{docObj.HrCompany.MNG_NO}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(187, 187, 187); width: 114.3pt; height: 14.75pt; vertical-align: middle;" colspan="7">
                            <p style="line-height: 1.3; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">명칭</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt; margin-left: 20pt;">{{docObj.HrCompany.CMP_NAME}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(187, 187, 187); width: 152.8pt; height: 14.75pt; vertical-align: middle;" colspan="10">
                            <p style="line-height: 1.3; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">전화번호</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt; margin-left: 20pt;">{{docObj.HrCompany.TELNO}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid none solid solid; border-color: rgb(178, 178, 178) rgb(187, 187, 187) rgb(93, 93, 93); width: 151.06pt; height: 14.75pt; vertical-align: middle;" colspan="5">
                            <p style="line-height: 1.3; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.42pt; font-size: 9pt;">FAX 번호</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt; margin-left: 20pt;">{{docObj.HrCompany.FAX}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-width: 1pt 1.5pt 1pt 1pt; border-style: solid none solid solid; border-color: rgb(187, 187, 187) rgb(93, 93, 93); width: 638.16pt; height: 17.72pt; vertical-align: middle;" colspan="29">
                            <p style="line-height: 0.5; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">소재지</span>
                                <span style="border: 1pt; letter-spacing: -0.42pt; font-size: 9pt; margin-left: 20pt;">{{docObj.HrCompany.BIZP_ADDR}} {{docObj.HrCompany.BIZP_ADDR_DTL}}</span>
                                <span style="border: 1pt; letter-spacing: -0.42pt; font-size: 9pt; margin-left: 20pt;">({{docObj.HrCompany.ZIP_CODE}})</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-width: 1pt 1.5pt; border-style: solid none; border-color:; width: 724.58pt; height: 2pt; vertical-align: middle;" colspan="31">
                            <p>
                                <span style="border: 1pt; letter-spacing: -0.14pt; font-size: 2pt;"></span>
                            </p>
                        </td>
                    </tr>
					<!-- 보험사무대행기관 -->
                    <tr>
                        <td style="border-width: 1pt 1pt 1pt 1.5pt; border-style: solid solid solid none; border-color: rgb(93, 93, 93); width: 86.42pt; height: 13.24pt; vertical-align: middle;" colspan="2">
                            <p style="text-align: center; line-height: 1.3;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">보험사무대행기관</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93); width: 136.65pt; height: 13.24pt; vertical-align: middle;" colspan="3">
                            <p style="line-height: 1.3; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">명칭</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt; margin-left: 20pt;"></span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93); width: 197.65pt; height: 13.24pt; vertical-align: middle;" colspan="11">
                            <p style="line-height: 1.3; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">번호</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt; margin-left: 20pt;"></span>
                            </p>
                        </td>
                        <td style="border-width: 1pt 1.5pt 1pt 1pt; border-style: solid none solid solid; border-color: rgb(93, 93, 93); width: 303.86pt; height: 13.24pt; vertical-align: middle;" colspan="15">
                            <p style="line-height: 1.3; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">하수급인관리번호 ( 건설공사등의 미승인 하수급인으로 한정함 ) </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-width: 1pt 1.5pt; border-style: solid none; border-color: rgb(93, 93, 93); width: 724.58pt; height: 5pt; vertical-align: middle;" colspan="31">
                            <p>
                                <span style="border: 1pt; letter-spacing: -0.14pt; font-size: 2pt;"></span>
                            </p>
                        </td>
                    </tr>
					<!-- 자격상실 목록 -->
                    <tr> 
                        <td style="border-width: 1pt 1pt 1pt 1.5pt; border-style: solid solid solid none; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 30.01pt; height: 68.32pt; vertical-align: middle;" rowspan="4">
                            <p style="text-align: center; line-height: 1.2;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">연번</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 56.41pt; height: 68.32pt; vertical-align: middle;" rowspan="4">
                            <p style="text-align: center; line-height: 1.2;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">성명</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 84.48pt; height: 68.32pt; vertical-align: middle;" rowspan="4" colspan="2">
                            <p style="text-align: center; line-height: 1.2;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">주민</span>
                                <span style="border: 1pt; letter-spacing: -0.42pt; font-size: 9pt;">(</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">외국인</span>
                                <span style="border: 1pt; letter-spacing: -0.42pt; font-size: 9pt;">)</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">등록번호</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 52.17pt; height: 68.32pt; vertical-align: middle;" rowspan="4">
                            <p style="text-align: center; line-height: 1.2;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">전화번호</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.42pt; font-size: 9pt;">(</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">이동전화</span>
                                <span style="border: 1pt; letter-spacing: -0.42pt; font-size: 9pt;">)</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 71.37pt; height: 15.63pt; vertical-align: middle;" colspan="3">
                            <p style="text-align: center; line-height: 1.2;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">국민연금</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 252.23pt; height: 15.63pt; vertical-align: middle;" colspan="15">
                            <p style="text-align: center; line-height: 1.2;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">건강보험</span>
                            </p>
                        </td>
                         <td style="border-width: 1pt 1.5pt 1pt 1pt; border-style: solid none solid solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93); width: 177.91pt; height: 15.63pt; vertical-align: middle;" colspan="8">
                            <p style="text-align: center; line-height: 1.2;">
                                <span style="border: 1pt; letter-spacing: -0.47pt;">[v]</span>
                                <span style="border: 1pt; letter-spacing: -0.7pt;">고용보험 </span>
                                <span style="border: 1pt; letter-spacing: -0.47pt;">[v]</span>
                                <span style="border: 1pt; letter-spacing: -0.7pt;">산재보험</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 41.8pt; height: 52.69pt; vertical-align: middle;" rowspan="3" colspan="2">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">상실</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">연월일</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 29.57pt; height: 52.69pt; vertical-align: middle;" rowspan="3">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">상실</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">부호</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 33.97pt; height: 52.69pt; vertical-align: middle;" rowspan="3" colspan="3">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">상실</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">연월일</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 25.47pt; height: 52.69pt; vertical-align: middle;" rowspan="3" colspan="2">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">상실</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">부호</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 149.36pt; height: 14.63pt; vertical-align: middle;" colspan="9">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">연간보수총액</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 43.43pt; height: 52.69pt; vertical-align: middle;" rowspan="3">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">퇴직 전</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.42pt; font-size: 9pt;">3</span>
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">개월간</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">평균</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">보수</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 47.01pt; height: 52.69pt; vertical-align: middle;" rowspan="3" colspan="4">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">상실</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">연월일</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 80.03pt; height: 14.63pt; vertical-align: middle;" colspan="3">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">상 실 사 유</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt 1.5pt 1pt 1pt; border-style: solid none solid solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(93, 93, 93); width: 50.87pt; height: 52.69pt; vertical-align: middle;" rowspan="3">
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">당해연도</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;">보수총액</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 75.77pt; height: 13.63pt; vertical-align: middle;" colspan="4">
                            <p style="text-align: center; line-height: 1.2; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">당해연도</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 73.59pt; height: 13.63pt; vertical-align: middle;" colspan="5">
                            <p style="text-align: center; line-height: 1.2; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">전년도</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 55.2pt; height: 38.06pt; vertical-align: middle;" rowspan="2" colspan="2">
                            <p style="text-align: center; line-height: 1.2; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">구체적 사유</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 24.83pt; height: 38.06pt; vertical-align: middle;" rowspan="2">
                            <p style="text-align: center; line-height: 1.2; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">구분</span>
                            </p>
                            <p style="text-align: center; line-height: 1.2; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">코드</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 47.09pt; height: 24.43pt; vertical-align: middle;" colspan="2">
                            <p style="text-align: center; line-height: 1.2; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">보수총액</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 28.68pt; height: 24.43pt; vertical-align: middle;" colspan="2">
                            <p style="text-align: center; line-height: 1; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">산정</span>
                            </p>
                            <p style="text-align: center; line-height: 1; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">월수</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 45.29pt; height: 24.43pt; vertical-align: middle;" colspan="3">
                            <p style="text-align: center; line-height: 1.2; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">보수총액</span>
                            </p>
                        </td>
                        <td style="border: 1pt solid rgb(93, 93, 93); width: 28.3pt; height: 24.43pt; vertical-align: middle;" colspan="2">
                            <p style="text-align: center; line-height: 1; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">산정</span>
                            </p>
                            <p style="text-align: center; line-height: 1; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">월수</span>
                            </p>
                        </td>
                    </tr>
                    
					<!-- 1번 -->
                    <tr ng-repeat="losInsur in :: docObj.losInsurList track by $index">
                        <td style="border-width: 1pt 1pt 1pt 1.5pt; border-style: solid solid solid none; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 30.01pt; height: 21.29pt; vertical-align: middle;">
                            <p style="line-height: 1.3;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{$index+1}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 56.41pt; height: 21.29pt; vertical-align: middle;">
                            <p style="line-height: 1.3; text-align: center;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.emplMaster.USER_NAME}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 84.48pt; height: 21.29pt; vertical-align: middle;" colspan="2">
                            <p style="line-height: 1.3;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.emplMaster.SSN}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 52.17pt; height: 21.29pt; vertical-align: middle;">
                            <p style="line-height: 1;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.emplMaster.TELNO}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 41.8pt; height: 21.29pt; vertical-align: middle;" colspan="2">
                            <p style="line-height: 1.3; text-align: center;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.NAPENS_LOS_DT | moment:'YYYY-MM-DD':'YYYYMMDD'}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 29.57pt; height: 21.29pt; vertical-align: middle;">
                            <p style="line-height: 1.3; text-align: center;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.NAPENS_LOS_CODE}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 33.97pt; height: 21.29pt; vertical-align: middle;" colspan="3">
                            <p style="line-height: 1.3; text-align: center;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.HEINSU_LOS_DT | moment:'YYYY-MM-DD':'YYYYMMDD'}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 25.47pt; height: 21.29pt; vertical-align: middle;" colspan="2">
                            <p style="line-height: 1.3; text-align: center;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.HEINSU_LOS_CODE}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 47.09pt; height: 21.29pt; vertical-align: middle;" colspan="2">
                            <p style="line-height: 1.3; text-align: right;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.THSYR_REMTA | korCurrency:true}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 28.68pt; height: 21.29pt; vertical-align: middle;" colspan="2">
                            <p style="line-height: 1.3; text-align: center;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.THSYR_CALC_MM_CNT}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 45.29pt; height: 21.29pt; vertical-align: middle;" colspan="3">
                            <p style="line-height: 1.3; text-align: right;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.BFYR_REMTA | korCurrency:true}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 28.3pt; height: 21.29pt; vertical-align: middle;" colspan="2">
                            <p style="line-height: 1.3; text-align: center;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.BFYR_CALC_MM_CNT}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 43.43pt; height: 21.29pt; vertical-align: middle;">
                            <p style="line-height: 1.3; text-align: right;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">{{losInsur.ins.MON_AVG_PAY | korCurrency:true}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 47.01pt; height: 21.29pt; vertical-align: middle;" colspan="4">
                            <p style="line-height: 1.3; text-align: center;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;" ng-if="losInsur.ins.NTFC_TARGET == '1111'">{{losInsur.ins.UEINSU_LOS_DT | moment:'YYYY-MM-DD':'YYYYMMDD'}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 55.2pt; height: 21.29pt; vertical-align: middle;" colspan="2">
                            <p style="text-align: left; line-height: 1;">
                                <span style="border: 1pt; letter-spacing: -1.5pt; font-size: 8pt;" ng-if="losInsur.ins.NTFC_TARGET == '1111'">{{losInsur.ins.LFEMP_RSN}}</span>
                            </p>
                        </td>
                        <td style="border-width: 1pt; border-style: solid; border-color: rgb(93, 93, 93) rgb(93, 93, 93) rgb(187, 187, 187); width: 24.83pt; height: 21.29pt; vertical-align: middle;">
                            <p style="text-align: center; line-height: 1.3;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;" ng-if="losInsur.ins.NTFC_TARGET == '1111'">{{losInsur.ins.UEINSU_LOS_RSN}}</syscode></span>
                            </p>
                        </td>
                        <td style="border-width: 1pt 1.5pt 1pt 1pt; border-style: solid none solid solid; border-color: rgb(93, 93, 93) rgb(187, 187, 187) rgb(93, 93, 93); width: 50.87pt; height: 21.29pt; vertical-align: middle;">
                            <p style="text-align: right; line-height: 1.3;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;" ng-if="losInsur.ins.NTFC_TARGET == '1111'">{{losInsur.ins.THSYR_REMTA|korCurrency:true}}</span>
                            </p>
                        </td>
                    </tr>
                    
							
					<!-- 입력 종료 -->
                    <tr>
                        <td style="border-width: 1.99pt 1pt; border-color: rgb(128, 128, 128); width: 724.58pt; height: 11.84pt; vertical-align: middle;" colspan="31">
                            <p style="text-align: right; line-height: 5; font-size: 9pt;">
                                <span style="border: 1pt; letter-spacing: -0.63pt; font-size: 9pt;"></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-width: 1.99pt 1pt; border-color: rgb(128, 128, 128) rgb(93, 93, 93) rgb(128, 128, 128); width: 319.92pt; height: 18.5pt; vertical-align: middle;" colspan="10">
                            <p style="text-align: right; line-height: 1;">
                                <span style="border: 1pt; letter-spacing: -0.7pt;">신고 ( 확인 ) 인 ( 사용자ㆍ대표자 )</span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt; border-color: rgb(128, 128, 128) rgb(93, 93, 93); width: 138.93pt; height: 18.5pt; vertical-align: middle;" colspan="9">
                            <p style="text-align: right; line-height: 1; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">{{docObj.HrCompany.REPF}}</span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt; margin-left: 20pt;">(서명 또는 인)</span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt; border-color: rgb(128, 128, 128) rgb(93, 93, 93); width: 111.83pt; height: 18.5pt; vertical-align: middle;" colspan="6">
                            <p style="text-align: right; line-height: 1;">
                                <span style="border: 1pt; letter-spacing: -0.47pt;">/ </span>
                                <span style="border: 1pt; letter-spacing: -0.7pt;">보험사무대행기관</span>
                            </p>
                        </td>
                        <td style="border-width: 1.99pt 1pt; border-color: rgb(128, 128, 128) rgb(128, 128, 128) rgb(93, 93, 93); width: 153.9pt; height: 18.5pt; vertical-align: middle;" colspan="6">
                            <p style="text-align: right; line-height: 1; font-size: 8pt;">
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;"></span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt; margin-left: 20pt;">(서명 또는 인)</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-width: 1.99pt 1pt; border-style: none none solid; border-color: rgb(128, 128, 128) rgb(128, 128, 128) rgb(93, 93, 93); width: 724.58pt; height: 21.5pt; vertical-align: bottom;" colspan="31">
                            <p style="line-height: 1.3; font-size: 13pt;">
                                <span style="border: 1pt; letter-spacing: -0.91pt; font-size: 13pt;">국민연금공단 이사장 / 국민건강보험공단 이사장 / 근로복지공단 이사장 / ○○지방고용노동청 ( ○○○○지청 ) 장</span>
                                <span style="border: 1pt; letter-spacing: -0.7pt;">귀하</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-width: 1.7pt 1pt 1.99pt; border-style: solid none none; border-color: rgb(128, 128, 128) rgb(128, 128, 128) rgb(93, 93, 93); width: 724.58pt; height: 10.8pt; vertical-align: bottom;" colspan="31">
                            <p style="border: 1pt; text-align: right;">
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">297mm</span>
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">× </span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">210mm[</span>
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">일반용지 </span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">60g/</span>
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">㎡</span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">(</span>
                                <span style="border: 1pt; letter-spacing: -0.56pt; font-size: 8pt;">재활용품</span>
                                <span style="border: 1pt; letter-spacing: -0.37pt; font-size: 8pt;">)]</span>
                            </p>
                        </td>
                    </tr>
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                    <col style="width: 23.37pt;" />
                </table>
                <p style="border: 1pt; line-height: 1.2; text-indent: 0pt; margin-left: 0pt;">
                    <span style="border: 1pt;"></span>
                </p>
                <p style="line-height: 1.4;">
                    <span style="border: 1pt;"></span>
                </p>
            </div>
            <div class="pagebreaker"></div>
</div>