@import './style.scss';

.row01{
  justify-content: space-between;
  margin-bottom: 2vw;
  padding-bottom: 1vw;
  border-bottom: $border1 solid black;
}
.row02{
  font-size: $pageTitle;
  margin-bottom: 1vw;
}
.row03{
  margin-bottom: 1vw;
}

.row04{
  justify-content: flex-end;
  border-top: $border1 solid black;
  padding: 2vw 0vw;
  font-size: $label;
  .inc-number-wrapper{
    border: $border1 solid black;
    width: 50%;
    .label{
      height: 4vw;
      width: 40%;
      border-right: $border1 solid black;
    }
    .data{
      height: 4vw;
      width: 60%;
    }
  }
}

.row05{
  table{
    width: 100%;
    border: $border1 solid black;
    border-left: 0vw;
    border-right: 0vw;
    border-collapse: collapse;
  }
  th, td{
    border: $border1 solid black;
    text-align: center;
    font-weight: 500;
    &:first-child{
      border-left: 0vw;
    }
    &:last-child{
      border-right: 0vw;
    }
  }
  th{
    padding: 0.5vw;
  }
  td{
    height: 4vw;
  }
}
.row06{
  text-align: center;
  font-size: $font3;
  background-color: #f5f5f5;
  border-top: $border1 solid black;
  padding: 1vw 1vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.row07{
  
}
.row08{
  text-align: right;
  border-bottom: $border1 solid black;
  width: 100%;
  padding-bottom: 0.5vw;
  margin-top: 2vw; 
  justify-content: flex-end;
}

.row09{
  justify-content: flex-start;
  padding: 2vw;
  border-bottom: $border1 solid black;
  margin-bottom: 2vw;
  .wrapper{
    width: 35vw;
    height: 4vw;
    border: $border1 solid black;
    justify-content: space-between;
    .number{
      width: 50%;
      height: 100%;
      border-right: $border1 solid black;
    }
    .input{
      width: 50%;
    }
  }
}

