<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./payroll01.css">
  <!--commonStyleHere-->
  <!--docStyleHere-->
</head>

<body>
  <!-- <div class="no-print guide"></div> -->
  <div class="content">
    <div class="row01 flex-row">
      <span>고용보험법 시행규칙 [별지 제5호서식] &lt;개정 2017.12.28.&gt; </span>
    </div>
    
    <div class="row02 flex-row">
      <div class="selection">
        국민연금 [ {{row02.napensStat == 1 ? "V": ""}} ] 사업장가입자 자격취득 신고서
      </div>
      <div class="selection">
        건강보험 [ {{row02.heinsuStat == 1 ? "V": ""}} ] 직장가입자 자격취득 신고서
      </div>
      <div class="selection">
        고용보험 [ {{row02.ueinsuStat == 1 ? "V": ""}} ] 피보험 자격취득 신고서
      </div>
      <div class="selection">
        산재보험 [ {{row02.indisinsrStat == 1 ? "V": ""}} ] 근로자 고용 신고서
      </div>
    </div>

    <div class="row03 flex-row">
      <div class="comment-wrapper flex-col">
        <span>※ 유의사항 및 작성방법은 제2쪽을 참고해 주시기 바라며, 색상이 어두운 란은 신고인이 적지 않습니다.</span>
        <span>※ [ ]에는 해당되는 곳에 “√” 표시를 합니다.</span>
        <span>※ 같은 사람의 4대 사회보험의 자격취득일 또는 소득(보수)월액, 월평균보수액이 서로 다른 경우 줄을 달리하여 적습니다.</span>
      </div>
      <span>(제1쪽)</span>
    </div>

    <div class="row04 flex-row">
      <div>접수번호</div>
      <div>접수일 {{row04.today}}</div>
      <div>처리기간: 3일(고용보험은 5일)</div>
    </div>

    <div class="row05 flex-row">
      <table>
        <tr>
          <td rowspan="3" style="width: 10%" class="text-center">사업장</td>
          <td style="width: 25%">사업장관리번호 : {{row05.mngNo}}</td>
          <td style="width: 25%">명칭 : {{row05.cmpName}}</td>
          <td style="width: 25%">단위사업장 명칭 : {{row05.unitCmpName}}</td>
          <td style="width: 25%">영업소 명칭 : {{row05.cmpOfficeName}}</td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td class="no-right-border" colspan="2">소재지 : {{row05.bizpAddr}} {{row05.bizpAddrDtl}}</td>
          <!-- <td></td> -->
          <td class="right no-left-border" colspan="2">우편번호  ( {{row05.zipCode}} )</td>
          <!-- <td></td> -->
        </tr>
        <tr>
          <!-- <td></td> -->
          <td>전화번호</td>
          <td>(유선) {{row05.telNo}} (이동전화)</td>
          <td colspan="2">FAX번호 : {{row05.fax}}</td>
          <!-- <td></td> -->
        </tr>
      </table>
    </div>

    <div class="row06 flex-row">
      <table>
        <tr>
          <td style="width: 10%" class="text-center">보험사무<br>대행기관</td>
          <td style="width: 25%">번호 {{row06.agencyNo}}</td>
          <td style="width: 25%">명칭 {{row06.agencyName}}</td>
          <td style="width: 50%">하수급인 관리번호
            <span>(건설공사 등의 미승인 하수급인만 해당함)</span>
            {{row06.agencyManageNo}}
          </td>
        </tr>
      </table>
    </div>

    <div class="row07">
      <table>
        <tr>
          <td rowspan="2" style="width: 1%">구분</td>
          <td style="width: 11%">성명</td>
          <td style="width: 7%">국적</td>
          <td rowspan="2" style="width: 8%">
            대표자<br>
            여부
          </td>
          <td rowspan="2" style="width: 13%">
            월 소득액<br>
            (소득월액·보수월<br>
            액·월 평균보<br>
            수)(원)
          </td>
          <td rowspan="2" style="width: 5%">
            자격<br>
            취득일
          </td>
          <td colspan="3" style="width: 12%">국민연금</td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <td colspan="4" style="width: 21%">건강보험</td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <td colspan="5" style="width: 20%">고용보험‧산재보험</td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <td rowspan="2" style="width: 5%">일자리<br>안정자금<br>지원 신청</td>
        </tr>
        <tr>
          <!-- <td style="width: 5%"></td> -->
          <td style="width: 11%">
            주민등록번호<br>
            (외국인등록번호·<br>
            국내거소신고번호)
          </td>
          <td style="width: 7%">
            체류<br>
            자격
          </td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- 국민연금 -->
          <td style="width: 4%">
            자격<br>
            취득<br>
            부호
          </td>
          <td style="width: 4%">
            특수<br>
            직종<br>
            부호
          </td>
          <td style="width: 4%">
            직역<br>
            연금<br>
            부호
          </td> 
          <!-- 건강보험 -->
          <td style="width: 6%">
            자격<br>
            취득<br>
            부호
          </td>
          <td style="width: 4%">
            <div class="box flex-row">보험료</div>
            <div class="box flex-row">감면부호</div>
          </td>
          <td colspan="2" class="collapse-box" style="width: 8%">
            <div class="box flex-row">공무원.교직원</div>
            <div class="box flex-row">
              <div class="inner-box flex-row">회계명 / 부호</div>
              <div class="inner-box flex-row">직종명 / 부호</div>
            </div>
            <!-- <div class="box"></div>
            <div class="box"></div> -->
          </td>
          <!-- <td style="width: 5%"></td> -->
          <!-- 고용보험 산재보험 -->
          <td style="width: 4%">
            직종<br>
            부호
          </td>
          <td style="width: 4%">
            주<br>
            소정<br>
            근로<br>
            시간
          </td>
          <td style="width: 4%">
            계약<br>
            종료<br>
            연월<br>
            (계약직만<br>
            작성)
          </td>
          <td colspan="2" style="width: 8%">
            <div class="box flex-row">보험료 부과구분(해당자만)</div>
            <div class="box flex-row">
              <div class="inner-box flex-row">부호</div>
              <div class="inner-box flex-row">사유</div>
            </div>
          </td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 10%"></td> -->
        </tr>

        <div ng-repeat="(index,row) in row07.list">

        <tr>
          <td rowspan="2" style="width: 1%">{{ index*1+1 }}</td>
          <td style="width: 11%">{{row.userName}}</td>
          <td style="width: 7%">{{row.natny}}</td>
          <td rowspan="2" class="text-left" style="width: 8%; padding-left: 1vw;">
              [ {{row.bsnmregRpstYn == '1' ? 'V':''}} ] 예 <br>
              [ {{row.bsnmregRpstYn == '1' ? '':'V'}} ] 아니오
          </td>
          <td rowspan="2" style="width: 10%">
            {{row.monAvgPay}}
          </td>
          <td rowspan="2" style="width: 5%">
            {{row.napensAcquDt}}
          </td>
          <td colspan="3" style="width: 12%">
            [{{row.napensStat == '1' ? 'V':''}}]국민연금<br>
            ([{{row.pmntMethod == '1' ? 'V':''}}]취득 월 납부 희망)
          </td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <td style="width: 4%; border-right: 0;">[{{row.heinsuStat == '1' ? 'V':''}}]건강보험</td>
          <td colspan="3" class="text-left" style="width: 12%; border-left: 0;">
            ([]피부양자 신청)<br>
            ([]건강보험중 사업장으로 발송 희망)
          </td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <td colspan="5" class="text-left" style="width: 20%">
            [{{row.ueinsuStat == '1' ? 'V':''}}]고용보험(계약직 여부: []예, []아니오)<br>
            [{{row.indisinsrStat == '1' ? 'V':''}}]산재보험
          </td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <td rowspan="2" style="width: 10%">
            []예<br>
            []아니오
          </td>
        </tr>
        <tr>
          <!-- <td style="width: 5%"></td> -->
          <td style="width: 11%">{{row.ssn}}</td>
          <td style="width: 7%">{{row.stayQalf}}</td>
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- <td style="width: 5%"></td> -->
          <!-- 국민연금 -->
          <td style="width: 4%">{{row.napensAcquCode}}</td>
          <td style="width: 4%"></td>
          <td style="width: 4%"></td> 
          <!-- 건강보험 -->
          <td style="width: 4%">{{row.heinsuAcquCode}}</td>
          <td style="width: 4%"></td>
          <td style="width: 4%"></td>
          <td style="width: 4%"></td>
          <!-- 고용보험 산재보험 -->
          <td style="width: 4%">{{row.jobfunCl02}}</td>
          <td style="width: 4%"></td>
          <td style="width: 4%"></td>
          <td style="width: 4%"></td>
          <td style="width: 4%"></td>
          <!-- <td style="width: 10%"></td> -->
        </tr>

      </div>

      <div ng-repeat="(index,row) in row07.left">

          <tr>
            <td rowspan="2" style="width: 1%"></td>
            <td style="width: 11%">{{row.userName}}</td>
            <td style="width: 7%">{{row.natny}}</td>
            <td rowspan="2" class="text-left" style="width: 8%; padding-left: 1vw;">
                [ {{row.bsnmregRpstYn == '1' ? 'V':''}} ] 예 <br>
                [ {{row.bsnmregRpstYn == '1' ? '':'V'}} ] 아니오
            </td>
            <td rowspan="2" style="width: 10%">
              {{row.monAvgPay}}
            </td>
            <td rowspan="2" style="width: 5%">
              {{row.napensAcquDt}}
            </td>
            <td colspan="3" style="width: 12%">
              [{{row.napensStat == '1' ? 'V':''}}]국민연금<br>
              ([{{row.pmntMethod == '1' ? 'V':''}}]취득 월 납부 희망)
            </td>
            <!-- <td style="width: 5%"></td> -->
            <!-- <td style="width: 5%"></td> -->
            <td style="width: 4%; border-right: 0;">[{{row.heinsuStat == '1' ? 'V':''}}]건강보험</td>
            <td colspan="3" class="text-left" style="width: 12%; border-left: 0;">
              ([]피부양자 신청)<br>
              ([]건강보험중 사업장으로 발송 희망)
            </td>
            <!-- <td style="width: 5%"></td> -->
            <!-- <td style="width: 5%"></td> -->
            <td colspan="5" class="text-left" style="width: 20%">
              [{{row.ueinsuStat == '1' ? 'V':''}}]고용보험(계약직 여부: []예, []아니오)<br>
              [{{row.indisinsrStat == '1' ? 'V':''}}]산재보험
            </td>
            <!-- <td style="width: 5%"></td> -->
            <!-- <td style="width: 5%"></td> -->
            <!-- <td style="width: 5%"></td> -->
            <!-- <td style="width: 5%"></td> -->
            <td rowspan="2" style="width: 10%">
              []예<br>
              []아니오
            </td>
          </tr>
          <tr>
            <!-- <td style="width: 5%"></td> -->
            <td style="width: 11%">{{row.ssn}}</td>
            <td style="width: 7%">{{row.stayQalf}}</td>
            <!-- <td style="width: 5%"></td> -->
            <!-- <td style="width: 5%"></td> -->
            <!-- <td style="width: 5%"></td> -->
            <!-- 국민연금 -->
            <td style="width: 4%">{{row.napensAcquCode}}</td>
            <td style="width: 4%"></td>
            <td style="width: 4%"></td> 
            <!-- 건강보험 -->
            <td style="width: 4%">{{row.heinsuAcquCode}}</td>
            <td style="width: 4%"></td>
            <td style="width: 4%"></td>
            <td style="width: 4%"></td>
            <!-- 고용보험 산재보험 -->
            <td style="width: 4%">{{row.jobfunCl02}}</td>
            <td style="width: 4%"></td>
            <td style="width: 4%"></td>
            <td style="width: 4%"></td>
            <td style="width: 4%"></td>
            <!-- <td style="width: 10%"></td> -->
          </tr>
  
        </div>


      </table>
    </div>

    <div class="row08">
      위와 같이 자격취득을 신고합니다.
    </div>
    <div class="row09">
      {{row09.year}} 년 {{row09.month}} 월 {{row09.date}} 일
    </div>


    <div class="row10 flex-row">
      <table>
        <tr>
          <td style="width: 30%">신고인(사용자ㆍ대표자)</td>
          <td class="small" style="width: 30%">{{row10.submitUser}} (서명 또는 인)</td>
          <td style="width: 20%">/[]보험사무대행기관 </td>
          <td class="small" style="width: 20%">{{row10.agency}} (서명 또는 인)</td>
        </tr>
      </table>
    </div>

    <div class="row11">
      국민연금공단 이사장/국민건강보험공단 이사장/근로복지공단 ○○지역본부(지사)장 귀하 
    </div>

  </div>

  <div class="page-size-label">
    297mm×210mm[백상지 80g/㎡ 또는 중질지 80g/㎡]
  </div>
  <div style="page-break-before:always;"></div>
  
  <div class="content">
    <div class="page-number">(제2쪽)</div>
    <div class="row12">
      <table>
        <tr>
          <td rowspan="3" style="width: 5%">
            첨부<br>서류
          </td>
          <td style="width: 15%">국민연금</td>
          <td class="text-left">임금대장 사본 또는 선원수첩 사본 등 특수직종근로자임을 증명할 수 있는 서류 1부 </td>
          <td rowspan="3" style="width: 5%;">수수료<br>없음</td>
        </tr>
        <tr>
          <!-- <td style="width: 10%"></td> -->
          <td>건강보험</td>
          <td>
            <div class="note-wrapper">
              <div class="note flex-col">
                <div class="note-cell">
                  직장가입자의 자격을 얻으려는 사람이 재외국민 또는 외국인인 경우에는 다음의 구분에 따른 서류
                </div>
                <div class="note-cell">
                  가. 재외국민: 「주민등록법」에 따른 주민등록표 등본 1부
                </div>
                <div class="note-cell">
                  나. 외국인: 외국인등록증 사본, 외국인등록 사실증명, 국내거소신고증 사본(「재외동포의 출입국과 법적 지위에 관한 법률」 제2조제2호에 따른 외국국적동포의 경우에만 제출합니다) 또는 국내거소신고사실증명(「재외동포의 출입국과 법적지위에 관한 법률」 제2조제2호에 따른 외국국적동포만의 경우에만 제출합니다) 1부
                </div>
              </div>
            </div>
          </td>
          <!-- <td rowspan="3" style="width: 5%;">수수료<br>없음</td> -->
        </tr>
        <tr>
          <!-- <td style="width: 10%"></td> -->
          <td>일자리안정자금 지원 신청</td>
          <td class="text-left">해당 근로자의 주 소정근로시간 등을 기재한 서류</td>
          <!-- <td rowspan="3" style="width: 5%;">수수료<br>없음</td> -->
        </tr>
      </table>
    </div>

    <div class="row13">
      <div class="label">
        유의사항
      </div>
      <div class="note">
        <table>
          <tr>
            <td style="width: 8%">국민연금</td>
            <td class="text-left">피부양자가 있을 때에는 제5쪽의 직장가입자 자격취득 신고서(피부양자가 있는 경우)를 작성해 주시기 바랍니다.</td>
          </tr>
          <tr>
            <td>건강보험</td>
            <td class="text-left">임의가입대상 외국인근로자는 "고용보험 외국인 가입ㆍ가입탈퇴ㆍ피보험자격 취득신청서"로 신청해 주시기 바랍니다.</td>
          </tr>
          <tr>
            <td>일자리안정자금 지원 신청</td>
            <td class="text-left">일자리안정자금은 고용노동부장관이 정하는 기준에 해당하는 경우만 신청이 가능하며, 해당 근로자에게 「최저임금법」에 따른 최저임금이 지급되고 있는지 확인하기 위하여 필요한 경우에는 해당 근로자의 소정근로시간 등을 확인할 수 있습니다.</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row14">
      <div class="label">
        작성방법
      </div>
      <div class="note">
        <table>
          <tr>
            <td style="width: 8%">공통사항</td>
            <td>
              <div class="note-wrapper">
                <div class="note flex-col">
                  <div class="note-cell">
                    1. 신고대상 가입자 또는 근로자별 사회보험(국민연금ㆍ건강보험ㆍ고용보험ㆍ산재보험) 취득 및 고용 여부에 관하여 해당되는 “[ ]”에 “√” 표시를 합니다.
                  </div>
                  <div class="note-cell">
                    2. 성명 및 주민등록번호(외국인등록번호ㆍ국내거소신고번호)란에는 주민등록표(외국인등록증ㆍ국내거소신고증)상의 성명 및 주민등록번호(외국인등록번호ㆍ국내거소신고번호)를 적습니다.
                  </div>
                  <div class="note-cell">
                    3. 자격취득일란에는 해당 사업장의 채용일 등을 적습니다. 다만, 국민연금의 경우, 자격취득 사유가 사업장 전입인 때에는 상대 사업장에서의 전출일과 같은 일자를 적습니다.
                  </div>
                  <div class="note-cell">
                    4. 외국인의 경우에는 국적 및 체류자격(외국인등록증 기재내역)을 적습니다.
                  </div>
                  <div class="note-cell">
                    5. 같은 사람의 4대 사회보험의 자격취득일 또는 소득(보수)월액, 월평균보수액이 서로 다른 경우, 줄을 달리하여 적습니다.
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>국민연금</td>
            <td>
              <div class="note-wrapper">
                <div class="note flex-col">
                  <div class="note-cell">
                    1. 특수직종부호는 해당 근로자가 「광업법」  제3조제2호에 따른 광업의 종사자인 경우 "광원" 또는 「선원법」 제2조에 따른 선박 중 어선에서 직접 어로작업에 종사하는 "부원"인 경우에 해당 부호를 적습니다.
                  </div>
                  <div class="note-cell">
                    2. 국민연금의 경우 18세 미만의 근로자도 사업장가입자입니다. 다만, 본인이 원하지 아니하면 가입하지 않을 수 있습니다.
                  </div>
                  <div class="note-cell">
                    3. 취득일이 1일인 경우를 제외하고, 취득월의 보험료 납부를 희망하는 경우에는 "[ ]취득 월 납부 희망"의 "[ ]"에 "√" 표시를 합니다.
                  </div>
                  <div class="note-cell">
                    4. 「공무원연금법」,「군인연금법」,「사립학교교직원 연금법」,「별정우체국법」에 따른 직역연금 가입자 또는 퇴역연금, 퇴직연금 등을 받거나 받을 권리를 얻은 자는 사업장가입자로 가입할 수 없습니다.
                  </div>
                </div>
              </div>
                
            </td>
          </tr>
          <tr>
            <td>건강보험</td>
            <td>
              <div class="note-wrapper">
                <div class="note">
                  <div class="note-cell">공무원ㆍ교직원의 경우에만 회계명, 회계부호, 직종명, 직종부호를 적습니다.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              고용보험<br>
                ㆍ<br>
              산재보험
            </td>
            <td>
              <div class="note-wrapper">
                <div class="note flex-col">
                  <div class="note-cell">
                    1. 산재보험 관리번호와 고용보험 관리번호가 다른 경우에는 별도 서식에 작성하시기 바랍니다.
                  </div>
                  <div class="note-cell">
                    2. "월평균 보수액"은 연도 중에 월별로 지급이 예상되는 평균 보수액을 적습니다(입사 이후 연도 중에 지급이 예상되는 보수총액을 예상근무월수로 나눈 금액을 기재합니다).
                  </div>
                  <div class="note-cell">
                    3. 주 소정 근로시간은 주간의 소정 근로시간을 달리하는 경우에는 평균 주 소정 근로시간을 적습니다.
                  </div>
                  <div class="note-cell">
                    4. 피보험자의 계약직 근로자 여부에 대해 "[ ]"에 "√" 표시를 하고, 계약직 근로자인 경우에는 예정된 계약 종료 연도와 월을 적습니다. 근로계약기간이 정해져 있다면 근로(고용)계약 만료일이 속한 월을, 건설공사기간으로 계약을 체결하였다면 예상 공사 종료일이 속한 월을, 사업이나 특정업무를 완성하는 것으로 계약을 체결하였다면 예상 완성일이 속한 월을 적습니다.
                  </div>
                  <div class="note-cell">
                    5. 보험료 부과부호는 해당자만 적습니다(사유란에는 대상근로자 부호를 기재합니다).
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    </div>
    
    <div class="page-size-label">
        297mm×210mm[백상지 80g/㎡ 또는 중질지 80g/㎡]
    </div>
    <div style="page-break-before:always;"></div>

    <div class="content">

    <div class="row15">
      <div class="page-number">(제3쪽)</div>
      <div class="label">
        자격취득 부호 등
      </div>
      <div class="note">
        <table>
          <tr>
            <td style="width: 8%">국민연금</td>
            <td>
              <div class="note-wrapper">
                <div class="note flex-col">
                  <div class="note-cell">
                    [자격취득 부호」 1.18세 이상 당연취득(1개월 이상 계속 사용하는 일용직ㆍ기한부근로자, 1개월 동안 소정근로시간이 60시간 이상인 단시간근로자등을 포함합니다) 3.18세 미만 취득 9. 전입(사업장 통ㆍ폐합) 11. 대학시간강사 12. 60시간 미만 신청 취득(근로자 본인이 원하고 사용자가 동의하는 경우에 적으시기 바랍니다)
                  </div>
                  <div class="note-cell">
                    [특수직종 부호」 1. 광원  2. 부원
                  </div>
                  <div class="note-cell">
                    [직역연금 부호」 1. 직역연금(「공무원연금법」,「군인연금법」,「사립학교교직원 연금법」,「별정우체국법」에 따른 연금) 가입자 <br> 2. 직역연금(「공무원연금법」,「군인연금법」,「사립학교교직원 연금법」,「별정우체국법」에 따른 연금) 수급권자
                  </div>

                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>건강보험</td>
            <td>
              <div class="note-wrapper">
                <div class="note flex-col">
                  <div class="note-cell">
                    [자격취득 사유」 00. 최초취득 04. 의료급여 수급권자등에서 제외 05. 직장가입자 변경 06. 직장피부양자 상실 07. 지역가입자에서 변경 10. 유공자 등 건강보험 적용 신청 13. 기타 14. 거주불명 등록 후 재등록 29. 직장가입자 이중가입
                  </div>
                  <div class="note-cell">
                    [보험료 감면 부호」 11. 해외근무(전액) 12. 해외근무(반액) 21. 현역 군 입대 22. 상근예비역(현역 입대) 24. 상근예비역(근무) 31.시설수용(교도소) 32. 시설수용(기타) 41. 섬 ㆍ벽지(사업장) 42. 섬 ㆍ벽지(거주지) 81. 휴직
                  </div>
                </div>
              </div>
                
            </td>
          </tr>
          <tr>
            <td>
              고용보험<br>
                ㆍ<br>
              산재보험
            </td>
            <td>
              <div class="note-wrapper">
                <div class="note flex-col">
                  <div class="note-cell">
                    [직종 부호] 제4쪽의 별지[한국고용직업분류(KECO ’07) 중 소분류(139개) 직종현황]를 참고하여 적습니다.
                  </div>
                  <div class="note-cell">
                    [보험료 부과구분 부호]
                  </div>
                  <div class="flex-row" style="width: 100%">
                    <table>
                      <tr>
                        <td rowspan="3" style="width: 5%">부호</td>
                        <td colspan="4">부과범위</td>
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <td rowspan="3">대상근로자</td>
                      </tr>
                      <tr>
                        <!-- <td style="width: 5%">부호</td> -->
                        <td colspan="2" style="width: 18%;">산재보험</td>
                        <!-- <td></td> -->
                        <td colspan="2" style="width: 18%;">고용보험</td>
                        <!-- <td></td> -->
                      </tr>
                      <tr>
                        <!-- <td style="width: 5%">부호</td> -->
                        <td>산재<br>보험</td>
                        <td>임금채권<br>부담금</td>
                        <td>실업<br>급여</td>
                        <td>고용안정<br>직업능력<br>개발</td>
                      </tr>
                      <tr>
                        <td style="width: 5%">51</td>
                        <td>O</td>
                        <td>O</td>
                        <td>X</td>
                        <td>X</td>
                        <td>
                          <div class="inner-note-cell">
                            09.고용보험미가입.외국인근로자, 10.월 60시간 미만 근로자
                          </div>
                          <div class="inner-note-cell">
                            11.항운노조원(임금채권부담금 부과대상) 
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 5%">52</td>
                        <td>O</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>
                          <div class="inner-note-cell">
                            03.현장실습생(「직업교육훈련 촉진법」 제7조의 교육이수자)
                          </div>
                          <div class="inner-note-cell">
                            13.항운노조원(임금채권부담금 소송승소)
                          </div>
                          <div class="inner-note-cell">
                            24.시간선택제채용공무원
                          </div>

                        </td>
                      </tr>
                      <tr>
                        <td style="width: 5%">54</td>
                        <td>O</td>
                        <td>X</td>
                        <td>O</td>
                        <td>O</td>
                        <td>
                          <div class="inner-note-cell">
                            22. 자활근로종사자(급여특례, 차상위계층, 주거급여ㆍ의료급여 또는 교육급여 수급자)
                          </div>
                        </td>
                      </tr>
                      
                    </table>
                    <table>
                      <tr>
                        <td rowspan="3" style="width: 5%">부호</td>
                        <td colspan="4">부과범위</td>
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <td rowspan="3">대상근로자</td>
                      </tr>
                      <tr>
                        <!-- <td style="width: 5%">부호</td> -->
                        <td colspan="2" style="width: 18%">산재보험</td>
                        <!-- <td></td> -->
                        <td colspan="2" style="width: 18%">고용보험</td>
                        <!-- <td></td> -->
                      </tr>
                      <tr>
                        <!-- <td style="width: 5%">부호</td> -->
                        <td>산재<br>보험</td>
                        <td>임금채권<br>부담금</td>
                        <td>실업<br>급여</td>
                        <td>고용안정<br>직업능력<br>개발</td>
                      </tr>
                      <tr>
                        <td style="width: 5%">55</td>
                        <td>O</td>
                        <td>O</td>
                        <td>X</td>
                        <td>X</td>
                        <td>
                          <div class="inner-note-cell">
                            05.국가기관에서 근무하는 청원경찰
                          </div>
                          <div class="inner-note-cell">
                            06.「선원법」 및 「어선원 및 어선 재해보상보험법」적용자  
                          </div>
                          <div class="inner-note-cell">
                            07.해외파견자(「산업재해보상보험법」의 적용을 받지 않는 자)
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 5%">56</td>
                        <td>O</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>
                          <div class="inner-note-cell">
                            01.별정직ㆍ임기제공무원 16.노조전임자(노동조합 등 금품 지급)
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 5%">57</td>
                        <td>O</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>
                          <div class="inner-note-cell">
                            14.시간선택제임기제공무원, 한시임기제공무원 
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 5%">58</td>
                        <td>O</td>
                        <td>X</td>
                        <td>O</td>
                        <td>O</td>
                        <td>
                          <div class="inner-note-cell">
                              21.자활근로종사자(생계급여 수급자)
                          </div>
                        </td>
                      </tr>
                      
                    </table>

                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    </div>

    <div class="page-size-label">
      297mm×210mm[백상지 80g/㎡ 또는 중질지 80g/㎡]
    </div>
    <div style="page-break-before:always;"></div>
    
    <div class="content">

    <div class="row16 flex-row">
      <div>[별지]한국고용직업분류(KECO '07) 중 소분류(139개) 직종현황</div>
      <div>(제4쪽)</div>
    </div>

    <div class="row17 flex-row">
      <div class="list-wrapper">
        <div class="list-panel">
          <div class="label">01. 관리직</div>
          <div class="list">
            <div class="item">011 고위공무원 및 기업 고위임원</div>
            <div class="item">012 경영지원, 행정 및 금융 관련 관리자</div>
            <div class="item">013 사회서비스 관련 관리자(교육, 법률, 보건 등)</div>
            <div class="item">014 문화, 예술, 디자인, 영상 관련 관리자</div>
            <div class="item">015 건설 및 생산 관련 관리자</div>
            <div class="item">016 정보통신 관련 관리자</div>
            <div class="item">017 영업, 판매 및 운송 관련 관리자</div>
            <div class="item">018 음식, 숙박, 여행, 오락 및 스포츠 관련 관리자</div>
            <div class="item">019 환경, 청소 및 경비 관련 관리자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">02. 경영. 회계, 사무 관련직</div>
          <div class="list">
            <div class="item">021 경영 및 행정 관련 전문가</div>
            <div class="item">022 회계, 세무 및 감정평가 관련 전문가</div>
            <div class="item">023 광고, 홍보, 조사, 행사기획 관련 전문가</div>
            <div class="item">024 경영지원 및 행정 관련 사무원</div>
            <div class="item">025 생산 관련 사무원</div>
            <div class="item">026 무역 및 운송 관련 사무원</div>
            <div class="item">027 회계 및 경리 관련 사무원</div>
            <div class="item">028 안내ㆍ접수, 고객응대, 통계조사 관련 사무원</div>
            <div class="item">029 비서 및 사무보조원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">03. 금융, 보험 관련직</div>
          <div class="list">
            <div class="item">031 금융, 보험 관련 전문가</div>
            <div class="item">032 금융 및 보험 관련 사무원</div>
            <div class="item">033 보험 관련 영업원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">04. 교육 및 자연과학, 사회과학 연구관련직</div>
          <div class="list">
            <div class="item">041 대학교수(시간강사 포함)</div>
            <div class="item">042 장학관 및 교육 관련 전문가</div>
            <div class="item">043 자연과학, 생명과학 관련 전문가</div>
            <div class="item">044 인문사회과학 관련 전문가</div>
            <div class="item">045 자연과학, 생명과학 관련 시험원</div>
            <div class="item">046 학교교사</div>
            <div class="item">047 유치원교사</div>
            <div class="item">048 학원강사 및 학습지 교사</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">05. 법률ㆍ경찰ㆍ소방ㆍ교도 관련직</div>
          <div class="list">
            <div class="item">051 법률전문가</div>
            <div class="item">052 법률관련 사무원</div>
            <div class="item">053 경찰, 소방, 교도 관련 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">06. 보건ㆍ의료 관련직</div>
          <div class="list">
            <div class="item">061 의사</div>
            <div class="item">062 수의사</div>
            <div class="item">063 약사</div>
          </div>
        </div>
      </div>

      <div class="list-wrapper">
        <div class="list-panel">
          <div class="list">
            <div class="item">064 간호사 및 치과위생사</div>
            <div class="item">065 치료사</div>
            <div class="item">066 의료장비 및 치과 관련 기술 종사자</div>
            <div class="item">067 의료 및 보건 서비스 관련 종사자</div>
            <div class="item">068 의료복지 관련 단순 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              07. 사회복지 및 종교 관련직
          </div>
          <div class="list">
            <div class="item">071 사회복지 및 상담 전문가</div>
            <div class="item">072 보육교사, 육아도우미 및 생활지도원</div>
            <div class="item">073 성직자 및 종교 관련 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              08. 문화, 예술, 디자인, 방송 관련직
          </div>
          <div class="list">
            <div class="item">081 작가 및 출판 전문가</div>
            <div class="item">082 학예사, 사서 및 기록물관리사</div>
            <div class="item">083 기자</div>
            <div class="item">084 창작 및 공연 관련 전문가</div>
            <div class="item">085 디자이너</div>
            <div class="item">086 영화, 연극 및 방송 관련 전문가</div>
            <div class="item">087 영화, 연극 및 방송 관련 기술 종사자</div>
            <div class="item">088 연예인 매니저 및 기타 문화/예술 관련 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              09. 운전 및 운송 관련직
          </div>
          <div class="list">
            <div class="item">091 선박, 항공기 조종 및 관제 관련 종사자</div>
            <div class="item">092 철도, 지하철 기관사 및 관련 종사자</div>
            <div class="item">093 자동차 운전원</div>
            <div class="item">094 물품이동장비 조작원</div>
            <div class="item">095 배달원 및 운송 관련 단순 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              10. 영업 및 판매 관련직
          </div>
          <div class="list">
            <div class="item">101 영업원 및 상품중개인</div>
            <div class="item">102 부동산 중개인</div>
            <div class="item">103 판매원 및 상품대여원</div>
            <div class="item">104 계산원 및 매표원</div>
            <div class="item">105 노점ㆍ이동ㆍ방문 판매원 및 판매관련 및 단순 종사원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              11. 경비 및 청소 관련직
          </div>
          <div class="list">
            <div class="item">111 경호원, 청원경찰, 보안 관련 종사자</div>
            <div class="item">112 경비원</div>
            <div class="item">113 청소원, 가사도우미, 그 외 청소관련 단순 종사자</div>
            <div class="item">114 세탁원 및 다림질원</div>
            <div class="item">115 계기검침, 수금 및 주차관리 관련 단순 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              12. 미용, 숙박, 여행, 오락, 스포츠 관련직
          </div>
          <div class="list">
            <div class="item">121 이, 미용 및 관련 서비스 종사자</div>
            <div class="item">122 결혼 및 장례 관련 서비스 종사자</div>
            <div class="item">123 여행 서비스 관련 종사자</div>
          </div>
        </div>
      </div>

      <div class="list-wrapper">
        <div class="list-panel">
          <div class="list">
            <div class="item">124 승무원</div>
            <div class="item">125 숙박시설 서비스 관련 종사자</div>
            <div class="item">126 오락시설 서비스 관련 종사자</div>
            <div class="item">127 스포츠 및 레크레이션 관련 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
            13. 음식 서비스 관련직
          </div>
          <div class="list">
            <div class="item">131 주방장 및 조리사</div>
            <div class="item">132 식당 서비스 관련 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
            14. 건설  관련직
          </div>
          <div class="list">
            <div class="item">141 건축 및 토목 관련 기술자 및 시험원</div>
            <div class="item">142 건설구조관련 기능 종사자</div>
            <div class="item">143 건설마감 관련 기능 종사자</div>
            <div class="item">144 배관공</div>
            <div class="item">145 건설 및 채굴기계 운전원</div>
            <div class="item">146 토목 및 채굴 관련 종사자</div>
            <div class="item">147 건설 및 광업 관련 단순 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
            15. 기계 관련직
          </div>
          <div class="list">
            <div class="item">151 기계공학 기술자ㆍ연구원 및 시험원</div>
            <div class="item">152 기계장비 설치 및 정비원</div>
            <div class="item">153 운송장비 정비원(자동차 제외)</div>
            <div class="item">154 자동차정비원</div>
            <div class="item">155 금형 및 공작기계 조작원</div>
            <div class="item">156 냉난방 관련 설비 조작원</div>
            <div class="item">157 자동조립라인 및 산업용 로봇 조작원</div>
            <div class="item">158 자동차 및 자동차 부분품 조립원</div>
            <div class="item">159 운송차량 및 기계 관련 조립원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              16. 재료 관련직
          </div>
          <div class="list">
            <div class="item">161 금속 및 재료공학 기술자ㆍ연구원 및 시험원</div>
            <div class="item">162 판금, 제관 및 섀시 관련 종사자</div>
            <div class="item">163 단조원 및 주조원</div>
            <div class="item">164 용접원</div>
            <div class="item">165 도장기 및 도금기 조작원</div>
            <div class="item">166 금속가공 관련 장치 및 기계 조작원</div>
            <div class="item">167 비금속제조 관련 장치 및 기계 조작원(유리/점토/시멘트/석제품)</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              17. 화학 관련직
          </div>
          <div class="list">
            <div class="item">171 화학공학 기술자ㆍ연구원 및 시험원</div>
            <div class="item">172 석유 및 화학물 가공장치 조작원</div>
            <div class="item">173 화학ㆍ고무 및 플라스틱 제품 생산기 조작원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              18. 섬유 및 의복 관련직
          </div>
          <div class="list">
            <div class="item">181 섬유공학 기술자ㆍ연구원 및 시험원</div>
            <div class="item">182 섬유제조기계 조작원</div>
          </div>
        </div>
      </div>

      <div class="list-wrapper">
        <div class="list-panel">
          <div class="list">
            <div class="item">183 섬유가공 관련 조작원</div>
            <div class="item">184 의복 제조원 및 수선원</div>
            <div class="item">185 재단, 재봉 및 관련 기능 종사자</div>
            <div class="item">186 제화 및 기타 직물 관련 기계조작원 및 조립원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              19. 전기ㆍ전자 관련직
          </div>
          <div class="list">
            <div class="item">191 전기 및 전자공학 기술자ㆍ연구원 및 시험원</div>
            <div class="item">192 전공</div>
            <div class="item">193 전기, 전자기기 설치 및 수리원</div>
            <div class="item">194 발전 및 배전장치 조작원</div>
            <div class="item">195 전기 및 전자설비 조작원</div>
            <div class="item">196 전기ㆍ전자 부품 및 제품 제조 기계 조작원</div>
            <div class="item">197 전기ㆍ전자 부품 및 제품 조립원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              20. 정보통신 관련직
          </div>
          <div class="list">
            <div class="item">201 컴퓨터 하드웨어 및 통신공학 기술자ㆍ연구원</div>
            <div class="item">202 컴퓨터 시스템 설계 전문가</div>
            <div class="item">203 소프트웨어 개발 전문가</div>
            <div class="item">204 웹 전문가</div>
            <div class="item">205 데이터베이스 및 정보시스템 운영 전문가</div>
            <div class="item">206 통신ㆍ방송 장비기사ㆍ설치 및 수리원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              21. 식품가공 관련직
          </div>
          <div class="list">
            <div class="item">211 식품공학 기술자ㆍ연구원 및 시험원</div>
            <div class="item">212 제과ㆍ제빵원 및 떡제조원</div>
            <div class="item">213 식품가공 관련 기능 종사자</div>
            <div class="item">214 식품제조 기계 조작원</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              22. 환경, 인쇄, 목재, 가구, 공예 및 생산단순직
          </div>
          <div class="list">
            <div class="item">221 환경공학 기술자ㆍ연구원 및 관련 시험원</div>
            <div class="item">222 산업안전 및 에너지, 기타 공학 기술자ㆍ연구원 및 시험원</div>
            <div class="item">223 환경관련 장치 조작원(상하수, 소각)</div>
            <div class="item">224 인쇄 및 사진현상 관련 조작원</div>
            <div class="item">225 목재, 펄프, 종이가공 및 제조 관련 조작원</div>
            <div class="item">226 가구, 목제품 조립 및 제조 관련 종사자</div>
            <div class="item">227 공예원, 세공원 및 악기제조원, 기타 기능 종사자</div>
            <div class="item">228 간판 제작ㆍ설치 및 기타 제조 관련 기계 조작원</div>
            <div class="item">229 제조관련 단순 종사자</div>
          </div>
        </div>
        <div class="list-panel">
          <div class="label">
              23. 농림어업 관련직
          </div>
          <div class="list">
            <div class="item">231 작물재배 종사자</div>
            <div class="item">232 낙농 및 사육 관련 종사자</div>
            <div class="item">233 임업 관련 종사자</div>
            <div class="item">234 어업 관련 종사자</div>
            <div class="item">235 농림어업 관련 단순 종사자</div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
  
  
  <div class="page-size-label">
      297mm×210mm[백상지 80g/㎡ 또는 중질지 80g/㎡]
  </div>
  <div style="page-break-before:always;"></div>
  
    <div class="content">
      
    <div class="row18">
      직장가입자 자격취득 신고서(피부양자가 있는 경우)
    </div>
    
    <div class="row19 flex-row">
      <div>※ 국민건강보험의 피부양자가 있는 경우에 작성하며, 색상이 어두운 란은 신고인이 적지 않습니다.</div>
      <div>(제5쪽)</div>
    </div>

    <div class="row20 flex-row">
      <div>가입자 성명</div>
      <div>주민(외국인)등록번호</div>
    </div>

    <div class="row21">
      <table>
        <tr>
          <td rowspan="8">피부양자</td>
          <td rowspan="2">관계</td>
          <td rowspan="2">성명</td>
          <td rowspan="2">주민(외국인)등록번호</td>
          <td colspan="4">장애인ㆍ국가유공자</td>
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <td colspan="2">외국인</td>
          <!-- <td></td> -->
          <td rowspan="2">추가발급코드</td>
          <td rowspan="2">첨부서류유무</td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <td>종별부호</td>
          <td>등급</td>
          <td>등록일</td>
          <td>국적</td>
          <td>체류자격</td>
          <td>체류기간</td>
          <!-- <td></td> -->
          <!-- <td></td> -->
        </tr>
        <tr>
          <!-- <td></td> -->
          <td>{{row21.relCode}}</td>
          <td>{{row21.suptFamName}}</td>
          <td>{{row21.ssn}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{row21.stayQalf}}</td>
          <td>{{row21.stayStartDt}} ~ {{row21.stayEndDt}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="row22">
      위와 같이 직장가입자 자격 취득사항을 신고합니다.
    </div>

    <div class="row23">
      {{row23.year}} 년 {{row23.month}} 월 {{row23.date}} 일
    </div>

    <div class="row24 flex-row">
      <div>신고인(사용자)</div>
      <div>{{row24.submitUser}}(서명 또는 인)</div>
    </div>

    <div class="row25">
      국민건강보험공단 이사장 <span>귀하</span>
    </div>

    <div class="row26">
      <table>
        <tr>
          <td style="width: 5%">
            첨부<br>
            서류
          </td>
          <td>
            <div class="indent">
              1. 주민등록표 등본(주민등록표 등본으로 해당 직장가입자와의 관계를 확인할 수 없는 경우는 가족관계등록부의 증명서를 제출합니다) 1부
            </div>
            <div class="indent">
              2. 「장애인복지법」 제32조에 따라 등록된 장애인, 「국가유공자 등 예우 및 지원에 관한 법률」 제4조ㆍ제73조 및 제74조에 따른 국가유공자 등(법률 제11041호로 개정되기 전의 「국가유공자 등 예우 및 지원에 관한 법률」 제73조의2에 따른 국가유공자 등을 포함한다)으로서 같은 법 제6조의4에 따른 상이등급 판정을 받은 사람과 「보훈보상대상자 지원에 관한 법률」 제2조에 따른 보훈보상대상자로서 같은 법 제6조에 따른 상이등급 판정을 받은 사람임을 증명할 수 있는 서류 1부(장애인, 국가유공자 등 또는 보훈보상대상자의 경우만 제출합니다)
            </div>
            <div class="indent">
              3. 피부양자의 자격을 취득하려는 사람이 재외국민 또는 외국인인 경우에는 다음의 구분에 따른 서류
              가. 재외국민: 국내거소신고증 사본 또는 국내거소신고 사실증명 1부
              나. 외국인: 외국인등록증 사본, 외국인등록사실증명, 국내거소신고증 사본(「재외동포의 출입국과 법적지위에 관한 법률」 제2조제2호에 따른 외국국적동포의 경우에만 제출합니다) 또는 국내거소신고사실증명(「재외동포의 출입국과 법적지위에 관한 법률」 제2조제2호에 따른 외국국적동포의 경우에만 제출합니다) 1부
            </div>
          </td>
          <td style="width: 5%">수수료없음</td>
        </tr>
      </table>
    </div>

    <div class="row30">
      <div class="label">
        작 성 방 법
      </div>
      <div class="terms-wrapper">
        <div class="comment">
          ※ 가입자 신고는 "건강보험직장가입자 자격취득 신고서"에 적어야 하며, 추가발급코드는 적지 않습니다.
        </div>

        <div class="terms-section">
          <div class="terms-list">
            <div class="terms">
              1. "관계"는 가입자와의 관계를 적습니다. 배우자, 부모, 조부모, 자녀, 손자ㆍ손녀 이하, 형제자매, 처부모, 시부모, 사위, 며느리, 증조부모 등
            </div>
            <div class="terms">
              2. "성명 및 주민등록번호"는 피부양자의 성명, 주민등록번호를 적습니다(외국인은 외국인등록번호, 「재외동포의 출입국과 법적 지위에 관한 법률」에 따른 재외국민 및 재외동포는 국내거소신고번호를 적습니다).
            </div>
            <div class="terms">
              3. 장애인 또는 국가유공자인 경우에는 장애 종류 부호 및 등급, 등록일을 적습니다.
            </div>
            <div class="terms">
              [장애종류 및 국가유공자 등 부호] 1. 지체장애인 2. 뇌병변장애인 3. 시각장애인 4. 청각장애인 5. 언어장애인 6. 지적장애인 7. 자폐성장애인 8. 정신장애인 9. 신장장애인 10. 심장장애인 11. 호흡기장애인 12. 간 장애인 13. 안면장애인 14. 장루ㆍ요루장애인 15. 뇌전증장애인 19. 국가유공자 등
            </div>
            <div class="terms">
              4. 피부양자가 외국인인 경우에는 국적, 체류자격(외국인등록증 기재내용), 체류기간(외국인등록증 발급일부터 출국 예정일까지)을 적습니다.
              ※ 재외국민의 경우 체류자격은 C0(유학생의 경우에는 C9), 국적은 이주국가명을 적고, 체류기간은 적지 않습니다.
            </div>
            <div class="terms">
              5. 첨부서류가 있는 경우 첨부서류 유무란에 "○"표시를 합니다.
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="page-size-label">
      297mm×210mm[백상지 80g/㎡ 또는 중질지 80g/㎡]
    </div>
  </div>

</body>

</html>