@import './style.scss';

.no-border-bottom{
  border-bottom: 0px;
}
.page-number{
  text-align: right;
}
.back-gray{
  background-color: #ddd;
}
* {
  font-size: 1.2vw;
}


.row01{
  justify-content: space-between;
  margin-bottom: 2vw;
  // font-weight: 100;
}
.row02{
  font-size: 2vw;
  margin-bottom: 1vw;
}

.row03{
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5vw;
}

.row04{
  width: 100%;
  justify-content: flex-start;
  background-color: #dddddd;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  div{
    &:nth-child(1){
      width: 60%;
      border-right: 1px solid black;
    }
    &:nth-child(2){
      width: 20%;
      padding-left: 2vw;
    }
    &:nth-child(3){
      width: 20%;
    }
  }
}

.row05{
  table{
    width: 100%;
    border-bottom: $border1 solid black;
    border-collapse: collapse;
  }
  td{
    border: $border1 solid black;
    padding: 0.5vw;
    &:first-child{
      border-left: 0vw;
    }
    &:last-child{
      border-right: 0vw;
    }
  }
}

.row06{
  table{
    border-bottom: $border1 solid black;
    border-collapse: collapse;
    height: 50vw;
    &.date-table{
      width: 25%;
      td{
        &:last-child{
          border-right: 1px solid black;
        }
      }
    }
    &.info-table{
      width: 75%;
    }
  }
  td{
    border: $border1 solid black;
    border-top: 0;
    padding: 0.5vw;
    &:first-child{
      border-left: 0vw;
    }
    &:last-child{
      border-right: 0vw;
    }
  }
}

.row07{
  padding: 1vw;
}

.row08{
  text-align: right;
  margin-top: 3vw;
  margin-bottom: 2vw;
  strong{
    margin-right: 2vw;
  }
}

.row09{
  margin-bottom: 0.5vw;
  .label{
    width: 50%;
    text-align: right;
  }
  .check-panel{
    width: 20%;
    padding-left: 3vw;
  }
  .name-panel{
    width: 30%;
    text-align: right;
  }
}

.row10{
  margin-bottom: 2vw;
  .label{
    width: 50%;
    text-align: right;
  }
  .check-panel{
    width: 20%;
    padding-left: 3vw;
  }
  .name-panel{
    width: 30%;
    text-align: right;
  }
}

.row11{
  width: 100%;
  padding-bottom: 0.5vw;
  border-bottom: 2px solid black;
  .label1{
    margin-right: 5vw;
  }
  .label2{

  }
  span{
    font-size: 0.7vw;
  }
}

.row12{
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.row13{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 0.5vw;
  .label{
    text-align: center;
    width: 10%;
    background-color: #dddddd;
    border-right: 1px solid black;
    padding: 1vw 0;
  }
  .comment{
    width: 90%;
    padding: 1vw 0;
  }
}
